repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.14.10"
    hooks:
      - id: ruff
        args: [ ., --fix, --exit-non-zero-on-fix ]
        pass_filenames: false
      - id: ruff-format
        args: [.]
        pass_filenames: false

#  - repo: https://github.com/pre-commit/mirrors-mypy
#    rev: "v1.19.1" # Use the sha / tag you want to point at
#    hooks:
#      - id: mypy
#        pass_filenames: false
#        args: [ "--config-file=pyproject.toml"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-added-large-files

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: "v4.3.0"
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [] # optional: list of Conventional Commits types to allow
